# bundler state
/.bundle

# various artifacts
/coverage.data
/coverage/
/cache
/capybara*
/capybara-*.html
rerun.txt
.zeus.sock
/pkg/
/tmp/

# documentation
/.yardoc
/_yardoc/
/doc/


# rspec
.rspec_status
/spec/reports/
/spec/tmp/*
/spec/internal/log/

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp
